In [1]:
import numpy as np
import pandas as pd 

df = pd.read_csv("C:\\Users\\student06\\Desktop\\depy2016-master\\adult.csv", na_values=['#NAME?'])

In [2]:
print(df.head(5))

    age         workclass    fnlwgt  education  education_num  \
0  39.0         State-gov   77516.0  Bachelors           13.0
1  50.0  Self-emp-not-inc   83311.0  Bachelors           13.0
2  38.0           Private  215646.0    HS-grad            9.0
3  53.0           Private  234721.0       11th            7.0
4  28.0           Private  338409.0  Bachelors           13.0

       marital_status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black     NaN
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital_gain  capital_loss  hours_per_week native_country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [3]:
df['income'].value_counts()

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [4]:
df['income'] = [0 if x == '<50k' else 1 for x in df['income']]

In [5]:
X = df.drop('income',1) #features
Y = df.income

In [6]:
print(X.head(5))

    age         workclass    fnlwgt  education  education_num  \
0  39.0         State-gov   77516.0  Bachelors           13.0
1  50.0  Self-emp-not-inc   83311.0  Bachelors           13.0
2  38.0           Private  215646.0    HS-grad            9.0
3  53.0           Private  234721.0       11th            7.0
4  28.0           Private  338409.0  Bachelors           13.0

       marital_status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black     NaN
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital_gain  capital_loss  hours_per_week native_country
0          2174             0              40  United-States
1             0             0              13  United-States
2             0             0              40  United-States
3             0             0              40  United-States
4             0             0              40           Cuba

In [7]:
print(Y.head(5))

0    1
1    1
2    1
3    1
4    1
Name: income, dtype: int64

In [8]:
print(X['education'].head(5))

0    Bachelors
1    Bachelors
2      HS-grad
3         11th
4    Bachelors
Name: education, dtype: object

In [9]:
print(pd.get_dummies(X['education']).head(5))

   10th  11th  12th  1st-4th  5th-6th  7th-8th  9th    ?  Assoc-acdm  \
0   0.0   0.0   0.0      0.0      0.0      0.0  0.0  0.0         0.0
1   0.0   0.0   0.0      0.0      0.0      0.0  0.0  0.0         0.0
2   0.0   0.0   0.0      0.0      0.0      0.0  0.0  0.0         0.0
3   0.0   1.0   0.0      0.0      0.0      0.0  0.0  0.0         0.0
4   0.0   0.0   0.0      0.0      0.0      0.0  0.0  0.0         0.0

   Assoc-voc  Bachelors  Doctorate  HS-grad  Masters  Preschool  Prof-school  \
0        0.0        1.0        0.0      0.0      0.0        0.0          0.0
1        0.0        1.0        0.0      0.0      0.0        0.0          0.0
2        0.0        0.0        0.0      1.0      0.0        0.0          0.0
3        0.0        0.0        0.0      0.0      0.0        0.0          0.0
4        0.0        1.0        0.0      0.0      0.0        0.0          0.0

   Some-college
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

In [10]:
def DoesNothing():
    print 'Dickhead'

In [11]:
DoesNothing()

Dickhead

In [12]:
def makeOne():
    return 1

In [13]:
x = makeOne()

print x

In [14]:
print x

1

In [15]:
def addten(myInt):
    myInt += 10
    return myInt

In [16]:
addten(10)

20

In [17]:
def myFunc():
    ''' I documented something
    '''
    #Only seen in code view
    pass

In [18]:
def pound_to_dol(p):
    conversion = p / 0.6
    print conversion

In [19]:
pound_to_dol(50)

83.3333333333

In [33]:
def allowed_dating_age(my_age):
    girls_age = my_age/2 +7
    return girls_age

In [40]:
age = allowed_dating_age(20)

In [41]:
print("I can date girls", age)

('I can date girls', 17)

In [46]:
def get_gender(sex='Unknown'):
    if sex is 'm':
        sex = 'Male'
    elif sex is 'f':
        sex = 'Female'
    print(sex)

In [51]:
get_gender()

Unknown

In [57]:
def corn():
    b = 7835
    print b

In [58]:
corn()

7835

In [59]:
print b

NameError: name 'b' is not defined